* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-weight: 400;
    font-family: 'Almarai', sans-serif;
    overflow-x: hidden !important;
    background: #f7f7fa !important;
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: black !important;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}


.containerCustomized {
    width: 95% !important;
    margin: auto !important;
}

.infoCategory {
    text-decoration: none !important;
    color: black !important;
}

.otherTitle {
    background-color: #000;
    color: white;
    padding: 12px;
    font-size: 25px;
    font-weight: bolder;
}

/**Style Nav Bar */
.navBar {
    background-color: rgb(254, 238, 0) !important;
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    padding: 10px;
}

.search {
    width: 95%;
    margin-right: auto;
}

.search input[type="search"] {
    width: 100% !important;
    height: 36px;
    border: none;
    padding: 10px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}

.link {
    display: inline-block;
    border-left: 1px solid rgba(64, 69, 83, 0.2);
    margin-left: 15px;
    padding-left: 10px;
}

.caursol img {
    width: 100%;
}

.slider-item {
    width: 100% !important;
}

.categoryItem {
    width: 120px !important;
    height: 120px !important;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    text-align: center;
    background-color: rgba(64, 69, 83, 0.2);
    margin-left: 15px;
    outline: none;
}

.categoryItem img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.brand {
    padding-left: 20px
}


/**Style category in slider component */
.slider {
    width: 110px;
    height: 110px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background-color: rgba(64, 69, 83, 0.2);
    ;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider img {
    width: 90%;
}

/**Style Colection */
.offerOne .dish, .offerOne .choose, .offerTwo .hour, .offerTwo .lwasem {
    width: 70% !important;
    background-repeat: no-repeat;
    background-size: cover;
}

.offerOne .dish img, .offerOne .choose img, .offerTwo .hour img, .offerTwo .lwasem img {
    width: 90%;
    height: 192px;
}

.offerOne div, .offerTwo div {
    position: relative;
}

.offerOne div .info, .offerTwo div .info {
    position: absolute;
    top: 15px;
    background-color: rgb(254, 238, 0) !important;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    color: red;
    padding: 0 10px;
    height: 25px;
    text-align: center;
}

/**Style Container Products */
.textDescription {
    width: 150px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipse !important;
}

.type {
    background-color: rgb(254, 238, 0);
    border-top-left-radius: 15px;
    height: 20px;
    padding: 0 8px;
    font-size: 12px !important;
    font-weight: bolder;
}

.rate {
    height: 18px;
    font-size: 15px;
    text-align: center;
    padding: 0 5px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    line-height: 18px;
}

/**Style Special Offer */
.bestOffer {
    text-align: center;
}

.bestOffer img {
    width: 100%;
}

/**Style GamalGona */
.containerImages img {
    width: 80%;
    display: inline-block;
}


/**Style image Gallsey */
.image-gallery-image {
    height: 350px;
    cursor: zoom-in !important;
    object-fit: cover;
}

.image-gallery-thumbnail-image {
    object-fit: cover;
    width: 100%;
    height: 80px;
}

.image-gallery-svg {
    width: 20px !important;
}

.image-gallery-svg:hover {
    color: #CB955B;
}

.image-gallery-thumbnail.active, .image-gallery-thumbnail:focus {
    border: 3px solid #CB955B !important;
}

.image-gallery-thumbnail:hover {
    border: 3px solid #CB955B !important;
}

/**style image Gallery */

/**Style Related Data Products */
.moreSales{
    background-color: rgb(64, 69, 83);
    text-align: center;
    color:white;
    font-weight: 800;
    width:18%;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
.relatedData{
    width: 50%;
    /* margin-top: 100px; */
}
.specialRate{
    width: 10%;
}


@media(max-width:768px) {
    .header {
        width: 85% !important;
        display: flex;
        justify-content: center !important;
    }

    .header .brand {
        width: 100% !important;
    }

    .search {
        width: 100% !important;
    }

    .link {
        display: inline-block;
        border-left: none !important;
    }

    .slider {
        width: 50px;
        height: 50px;
    }

    .slider img {
        width: 100%;
    }

    .caursol img {
        width: 100%;
        height: 40vh;
    }

    .categoryItem {
        width: 80px !important;
        height: 80px !important;
    }

    .categoryItem img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
    }

    .brand img {
        width: 50%;
    }

    .collection {
        flex-direction: column !important;
        flex-wrap: wrap !important;
    }

    .collection div {
        width: 100% !important;
    }

    .offerOne div .info {
        width: 90% !important;
        margin: auto;
    }

    .offerTwo div .info {
        width: 90% !important;
        margin: auto;
    }

    /**Style Container Products */
    .containerProduct {
        flex-direction: column;
        flex-wrap: wrap;
    }

    /**style nestOffer */
    .bestOffer img {
        width: 100%;
    }

    /** Gamal Gona */
    /* .containerImages{
        flex-direction: column;
    } */
    /**Related Data Style */
    .relatedData{
        width:100%;
        margin: 100px;
        padding: 0 15px;
    }
    .moreSales{
        background-color: rgb(64, 69, 83);
        text-align: center;
        color:white;
        font-weight: 800;
        width:100%;
        border-radius: 20px;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        -ms-border-radius: 20px;
        -o-border-radius: 20px;
    }
}